# 2.Pandas를 활용한 정형 데이터

In [1]:
import pandas as pd

In [2]:
member = pd.Series(['홍길동','전우치','강감찬','스티브잡스'])

In [3]:
member

0      홍길동
1      전우치
2      강감찬
3    스티브잡스
dtype: object

In [4]:
member = pd.Series(['홍길동', '전우치', '강감찬', '스티브잡스'] ,
                  index=['1번','2번','3번','4번'])

In [5]:
member

1번      홍길동
2번      전우치
3번      강감찬
4번    스티브잡스
dtype: object

In [6]:
sal_1 = {'홍길동':100, '일지매':130, '전우치':120}

In [7]:
sal_1

{'홍길동': 100, '일지매': 130, '전우치': 120}

In [8]:
sal_2 = pd.Series(sal_1)

In [9]:
sal_2

홍길동    100
일지매    130
전우치    120
dtype: int64

In [10]:
member

1번      홍길동
2번      전우치
3번      강감찬
4번    스티브잡스
dtype: object

In [11]:
member['1번']

'홍길동'

In [12]:
member[0]

'홍길동'

In [13]:
member['1번','3번']

ValueError: Can only tuple-index with a MultiIndex

In [14]:
member[['1번','3번']]

1번    홍길동
3번    강감찬
dtype: object

In [15]:
sal_2

홍길동    100
일지매    130
전우치    120
dtype: int64

In [16]:
sal_3 = {'홍길동':10, '전우치':12, '강감찬':20}

In [17]:
sal_4 = pd.Series(sal_3)

In [18]:
sal_4

홍길동    10
전우치    12
강감찬    20
dtype: int64

In [19]:
print(sal_2 + sal_3)

TypeError: Cannot broadcast np.ndarray with operand of type <class 'dict'>

In [20]:
print(sal_2 + sal_4)

강감찬      NaN
일지매      NaN
전우치    132.0
홍길동    110.0
dtype: float64

In [21]:
member3 = {'번호':['1번','2번','3번'],
            '이름':['홍길동', '전우치', '강감찬'],
            '생일':[1975, 1980, 1982]}

In [22]:
member3

{'번호': ['1번', '2번', '3번'],
 '이름': ['홍길동', '전우치', '강감찬'],
 '생일': [1975, 1980, 1982]}

In [23]:
member4 = pd.DataFrame(member3)

In [24]:
member4

   번호   이름    생일
0  1번  홍길동  1975
1  2번  전우치  1980
2  3번  강감찬  1982

In [25]:
member5 = pd.DataFrame(member4, columns=['번호','이름','생일'])

In [26]:
member5

   번호   이름    생일
0  1번  홍길동  1975
1  2번  전우치  1980
2  3번  강감찬  1982

In [27]:
member5.생일

0    1975
1    1980
2    1982
Name: 생일, dtype: int64

In [28]:
member5['생일']

0    1975
1    1980
2    1982
Name: 생일, dtype: int64

In [29]:
member5[['이름','생일']]

    이름    생일
0  홍길동  1975
1  전우치  1980
2  강감찬  1982

In [30]:
member5

   번호   이름    생일
0  1번  홍길동  1975
1  2번  전우치  1980
2  3번  강감찬  1982

In [31]:
member5.loc[0]

번호      1번
이름     홍길동
생일    1975
Name: 0, dtype: object

In [32]:
member5.loc[member5['번호'] >=2]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [33]:
member5.loc[member5['번호'] >='2번']

   번호   이름    생일
1  2번  전우치  1980
2  3번  강감찬  1982

In [34]:
member6 = {'번호': ['1번', '2번', '3번', '4번', '5번'],
          '이름':['홍길동','전우치','강감찬','홍길동','일지매'],
          '매출':[100,200,250,300,150]}

In [35]:
member7 = pd.DataFrame(member6, columns=['번호','이름','매출'])

In [36]:
member7

   번호   이름   매출
0  1번  홍길동  100
1  2번  전우치  200
2  3번  강감찬  250
3  4번  홍길동  300
4  5번  일지매  150

In [37]:
member7.loc[(member7['매출']>=100) & (member7['매출']<=200)]

   번호   이름   매출
0  1번  홍길동  100
1  2번  전우치  200
4  5번  일지매  150

In [38]:
member8 = pd.DataFrame(member5, columns=['번호','이름','생일','지역'])

In [39]:
member8

   번호   이름    생일  지역
0  1번  홍길동  1975 NaN
1  2번  전우치  1980 NaN
2  3번  강감찬  1982 NaN

In [40]:
member8['지역'] = ['서울', '부산', '대전']

In [41]:
member8

   번호   이름    생일  지역
0  1번  홍길동  1975  서울
1  2번  전우치  1980  부산
2  3번  강감찬  1982  대전

In [42]:
member8.loc[3] = ['4번','호날두',1985,'유벤투스']

In [43]:
member8

   번호   이름    생일    지역
0  1번  홍길동  1975    서울
1  2번  전우치  1980    부산
2  3번  강감찬  1982    대전
3  4번  호날두  1985  유벤투스

In [44]:
member8.drop([0])

   번호   이름    생일    지역
1  2번  전우치  1980    부산
2  3번  강감찬  1982    대전
3  4번  호날두  1985  유벤투스

In [45]:
member8.drop(member8.생일>1980.index)

SyntaxError: invalid syntax (<ipython-input-45-a6677a366240>, line 1)

In [46]:
member8.drop(member8[member8.생일>1980].index)

   번호   이름    생일  지역
0  1번  홍길동  1975  서울
1  2번  전우치  1980  부산